<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div style="display:flex">
    <form action = "/get/response1" method="get" style="margin-right:20px;">
        <h3>Get 전송 (required = true) </h3>
        이름: <input type="text" name="name">
        <br>
        <button type="submit"> Get 전송</button>
    </form>
    <form action = "/get/response2" method="get" style="margin-right:20px;">
        <h3>Get 전송 (required = true) </h3>
        <button type="submit"> Get 전송</button>
    </form>
    <div style="margin-right:20 px;">
        <h3>Get 전송 - ~/{value}</h3>
        <a href="/get/response3/이름/나이">
            /get/response3/이름/나이
        </a>
    </div>
    <div style="margin-right:20px;">
        <h3>Get 전송 - ~/{value}</h3>
        <a href="/get/response4/이름/나이">
            /get/response4/이름/나이
        </a>
    </div>
</div>
<div>
    <hr>
    <div>
    <form action="/post/response1" method="post" style="margin-right: 20px;">
        <h3>Post 전송 ( required = true )</h3>
        <input type="text" name="name">
        <br>
        <button type="submit">Post 전송</button>
    </form>
    <form action="/post/response2" method="post" style="margin-right: 20px;">
        <h3>Post 전송 ( required = false )</h3>
        <input type="text" name="name">
        <br>
        <button type="submit">Post 전송</button>
    </form>
    <form action="/post/response3" method="post" style="margin-right: 20px;">
        <h3>Post 전송 ( ResponseBody )</h3>
        <input type="text" name="name">
        <br>
        <button type="submit">Post 전송</button>
    </form>
    </div>
</div>
<!--실습-->
<div>
    <form action = "/introduce2" method="get" style="margin-right:20px;">
        <h3>Get 전송 (required = true) </h3>
        이름: <input type="text" name="name">
        나이 <input type="text" name="age">
        <button type="submit">  전송</button>
    </form>
</div>
<hr>
<div>
    <form action = "/introduce3" method="post" style="margin-right:20px;">
        <fieldset>
            <legend>회원가입</legend>
            이름: <input type="text" name="name">
            <br>
            성별: <input type="radio" name="gender" id="male" value="male"> <label for="male">남자 </label>
            <input type="radio" name="gender" id="female" value="female"> <label for="female">여자</label>
            <br>
            생년월일:
            <input type="date" name="birth">
            <br>
            관심사:
            <label>여행</label> <input type="checkbox" name="interest" value="travel">
            <label>패션</label> <input type="checkbox" name="interest" value="fashion">
            <label>음식</label> <input type="checkbox" name="interest" value="food">
        </fieldset>
        <button type="submit"> 회원가입 </button>
    </form>
</div>

<!--////////////////////dto 수업-->
<div>
    <form action="/dto/response1" method="get" style="margin-right: 20px;">
        <h3>Get - DTO</h3>
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="submit">GET 전송</button>
    </form>
    <form action="/dto/response2" method="post" style="margin-right: 20px;">
        <h3>Post - DTO</h3>
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="submit">Post 전송 ( RequestBody x )</button>
    </form>
    <form action="/dto/response3" method="post" style="margin-right: 20px;">
        <h3>Post - DTO</h3>
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="submit">Post 전송 ( RequestBody O )</button>
    </form>
</div>
<!--//////////vo 수업-->
<form action="/vo/response1" method="get" style="margin-right: 20px;">
    <h3>Get - VO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">GET 전송</button>
</form>
<form action="/vo/response2" method="post" style="margin-right: 20px;">
    <h3>Post - VO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">Post 전송 ( RequestBody x )</button>
</form>
<form action="/vo/response3" method="post" style="margin-right: 20px;">
    <h3>Post - VO</h3>
    이름 : <input type="text" name="name">
    <br>
    나이 : <input type="text" name="age">
    <br>
    <button type="submit">Post 전송 ( RequestBody O )</button>
</form>

///////AXIOS DTO//////
<script>
    function dtoResponse1() {
        var form = document.getElementById('form_dto1');
        axios.get(`/axios/response1?name=${form.name.value}&age=${form.age.value}`)
        .then((res)=>{
            console.log( res );
            console.log( 'dtoResponse1 : ', res.data );
        });
    }
    function dtoResponse2() {
        var form = document.getElementById('form_dto1');
        axios.get(`/axios/response2?name=${form.name.value}&age=${form.age.value}`)
        .then((res)=>{
            console.log( res );
            console.log( 'dtoResponse2 : ', res.data );
        });
    }
    function dtoResponse3() {
        var form = document.getElementById('form_dto2');
        axios.post(`/axios/response3`, {name: form.name.value, age: form.age.value})
        .then((res)=>{
            console.log( res );
            console.log( 'dtoResponse3 : ', res.data );
        });
    }
    function dtoResponse4() {
        var form = document.getElementById('form_dto2');
        axios.post(`/axios/response4`, {name: form.name.value, age: form.age.value})
        .then((res)=>{
            console.log( res );
            console.log( 'dtoResponse1 : ', res.data );
        });
    }
    function dtoResponse5() {
        var form = document.getElementById('form_dto2');
        axios.post(`/axios/response5`, {name: form.name.value, age: form.age.value})
        .then((res)=>{
            console.log( res );
            console.log( 'dtoResponse5 : ', res.data );
        });
    }
</script>

<br>
<hr>
<h2>DTO 이용하기 - axios</h2>
<div style="display: flex">
    <form action="/axios/response1" method="get" style="margin-right: 20px;" id="form_dto1">
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="button" onclick="dtoResponse1();">GET ( 일반 ) - axios</button>
        <button type="button" onclick="dtoResponse2();">Get ( DTO ) - axios</button>
    </form>
    <form action="/axios/response3" method="post" style="margin-right: 20px;" id="form_dto2">
        <h3>Post ( 일반 ) - axios</h3>
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="button" onclick="dtoResponse3();">Post ( 일반 ) - axios</button>
        <button type="button" onclick="dtoResponse4();">Post ( DTO ) - axios ( RequestBody X )</button>
        <button type="button" onclick="dtoResponse5();">Post ( DTO ) - axios ( RequestBody O )</button>
    </form>
</div>
///////AXIOS VO/////////
<script>
    function voResponse1() {
        var form = document.getElementById('form_vo1');
        axios.get(`/axios/vo/response1?name=${form.name.value}&age=${form.age.value}`)
        .then((res)=>{
            console.log( res );
            console.log( 'dtoResponse1 : ', res.data );
        });
    }
    function voResponse2() {
        var form = document.getElementById('form_vo1');
        axios.get(`/axios/vo/response2?name=${form.name.value}&age=${form.age.value}`)
        .then((res)=>{
            console.log( res );
            console.log( 'voResponse2 : ', res.data );
        });
    }
    function voResponse3() {
        var form = document.getElementById('form_vo2');
        axios.post(`/axios/vo/response3`, {name: form.name.value, age: form.age.value})
        .then((res)=>{
            console.log( res );
            console.log( 'voResponse3 : ', res.data );
        });
    }
    function voResponse4() {
        var form = document.getElementById('form_vo2');
        axios.post(`/axios/vo/response4`, {name: form.name.value, age: form.age.value})
        .then((res)=>{
            console.log( res );
            console.log( 'voResponse4 : ', res.data );
        });
    }
    function voResponse5() {
        var form = document.getElementById('form_vo2');
        axios.post(`/axios/vo/response5`, {name: form.name.value, age: form.age.value})
        .then((res)=>{
            console.log( res );
            console.log( 'voResponse5 : ', res.data  );
        });
    }
</script>

<br>
<hr>
<h2>VO 이용하기 - axios</h2>
<div style="display: flex">
    <form id="form_vo1" style="margin-right: 20px;">
        <h3>Get ( 일반 ) - axios</h3>
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="button" onclick="voResponse1();">GET ( 일반 ) - axios</button>
        <button type="button" onclick="voResponse2();">Get ( VO ) - axios</button>
    </form>
    <form id="form_vo2" style="margin-right: 20px;">
        <h3>Post ( 일반 ) - axios</h3>
        이름 : <input type="text" name="name">
        <br>
        나이 : <input type="text" name="age">
        <br>
        <button type="button" onclick="voResponse3();">Post ( 일반 ) - axios</button>
        <button type="button" onclick="voResponse4();">Post ( VO ) - axios ( RequestBody X )</button>
        <button type="button" onclick="voResponse5();">Post ( VO ) - axios ( RequestBody O )</button>
    </form>
</div>
<!--///// 동적폼 전송 실습///-->
<hr>
<script>
    function axiosPractice() {
        var form = document.getElementById('form-practice');
        axios.post(`/axios/practice`, {name: form.name.value, birth: form.birth.value, gender: form.gender.value,
            interest: form.interest.value
        })
        .then((res)=>{
            console.log( res );
            console.log( res.data );
        });
    }

</script>

<div>
    <form action = "/axios/practice" method="post" style="margin-right:20px;" id="form-practice">
        <fieldset>
            <legend>동적폼 전송</legend>
            이름: <input type="text" name="name">
            <br>
            성별: <input type="radio" name="gender" id="man" value="male"> <label for="man">남자 </label>
            <input type="radio" name="gender" id="woman" value="female"> <label for="woman">여자</label>
            <br>
            생년월일:
            <input type="date" name="birth">
            <br>
            관심사:
            <label>여행</label> <input type="checkbox" name="interest" value="travel">
            <label>패션</label> <input type="checkbox" name="interest" value="fashion">
            <label>음식</label> <input type="checkbox" name="interest" value="food">
        </fieldset>
        <button type="button" onclick="axiosPractice()"> 회원가입 </button>
    </form>
</div>




////CRUD 실습////////
<script>
    function Register() {
        var form = document.getElementById('form-user');
        axios.post(`/axios/user`, {id: form.id.value, pw: form.pw.value, nickname: form.nickname.value})
        .then((res)=>{
            console.log( res );
            console.log( res.data );
        });
    }
        function Login() {
        var form = document.getElementById('form-user');
        axios.get(`/axios/user`, {id: form.id.value, pw: form.pw.value, nickname: form.nickname.value})
        .then((res)=>{
            console.log( res );
            console.log( res.data );
        });
    }
        function EditUser() {
        var form = document.getElementById('form-user');
        axios.patch(`/axios/user`, {id: form.id.value, pw: form.pw.value, nickname: form.nickname.value})
        .then((res)=>{
            console.log( res );
            console.log( res.data );
        });
    }
        function DeleteUser() {
        var form = document.getElementById('form-user');
         axios.delete(`/axios/user`, {id: form.id.value, pw: form.pw.value, nickname: form.nickname.value})
        .then((res)=>{
            console.log( res );
            console.log( res.data );
        });
    }

</script>

<div>
<form action = "/axios/user"  style="margin-right:20px;" id="form-user">
    <fieldset>
        <legend>회원관리 시스템</legend>
        ID: <input type="text" name="id">
        <br>
        PW: <input type="text" name="pw">
        <br>
        Nickname: <input type="text" name="nickname">
        <br>
    </fieldset>
    <button type="button" onclick="Register()"> 회원가입 </button>
    <button type="button" onclick="Login()"> 로그인 </button>
    <button type="button" onclick="EditUser()"> 정보수정 </button>
    <button type="button" onclick="DeleteUser()"> 회원탈퇴 </button>
</form>
</div>


</body>
</html>